@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100%;
}

* {
  border-color: rgb(228 228 231);
}

.dark * {
  border-color: rgb(39 39 42);
}
